/classroom/TestObjectOutoputStream/nbproject/private/
/classroom/TestObjectOutoputStream/build/
/classroom/BinaryFiles/nbproject/private/
/classroom/BinaryFiles/build/
/classroom/Writereadobject/nbproject/private/
/classroom/Writereadobject/build/
/classroom/GestordeAgenda/nbproject/private/
/classroom/Ejemplos/nbproject/private/
/classroom/Ejemplos/build/
/classroom/GestordeAgenda/build/
/classroom/BinaryFiles/dist/
/classroom/ApiRequest/nbproject/private/
/classroom/ApiRequest/build/
/classroom/DemoJFreeChart/build/
/classroom/DemoJFreeChart/nbproject/private/